{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="page-header min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
		<div class="filter"></div>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-lg-5">
					<div class="card p-5">
						<div class="m-3 m-lg-5">
							<div class="text-center mt-4">
								<h1 class="h3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
								{% if token_fail %}
									<p class="text-black-50">
											{% url 'account_reset_password' as passwd_reset_url %}
											<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
									</p>
								{% endif %}
							</div>
						
							{% if not token_fail %}
								{% if form %}
									<form method="POST" action="{{ action_url }}">
										{% csrf_token %}
										{{ form|crispy }}
										<div class="row mt-4">
											<div class="col text-end">
												<input type="submit" class="btn btn-danger rounded-pill px-5" name="action" value="{% trans 'change password' %}"/>
											</div>
										</div>
									</form>
								{% else %}
									<p>{% trans 'Your password is now changed.' %}</p>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
