{% extends 'account/base.html' %}
{% load static %}

{% block account-content %}


{% endblock account-content %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="page-header min-vh-100 bg-dark">
		<div class="container py-8">
			<div class="row justify-content-center">
				<div class="col-12 col-md-9">
					<div class="row">
						<div class="col-12 col-md-4 pe-0">
							<div class="px-6">
								<div class="d-block w-100">
									<div class="position-relative square">
										{% if base_user.user.profile.avatar_url %}
											<img class="avatar-circle position-absolute top-0 shadow-lg" alt="Profile Image" src="{{ base_user.user.profile.avatar_url }}"/>
										{% elif 0 %}
										{% else %}
											<div class="avatar-circle position-absolute top-0 border border-secondary">
												<div class="w-100 h-100 d-flex align-items-center justify-content-center">
													<a href="{% url 'profile-update' %}" class="text-secondary text-center">
														<i class="fa fa-plus icon-150"></i></br>
														<small>Add profile picture</small>
													</a>
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="mt-3 text-center">
								<h1 class="h3 text-light text-break">{{ base_user.display_name }}</h1>
								{% if base_user.user.is_staff %}<p>Staff</p>{% endif %}
							</div>
							<hr/>
							{% if view.kwargs.user_set == True %}
								<div class="mt-3 text-">
									<a href="{% url 'profile' %}"><h6 class="text-light">Profile</h6></a>
								</div>
								<div class="mt-3 text-">
									<a href="{% url 'my-rentals' %}"><h6 class="text-light">My Rentals</h6></a>
								</div>
								<div class="mt-3 text-">
									<a href="{% url 'profile-email' %}"><h6 class="text-light">Email Management</h6></a>
								</div>
								<div class="mt-3 text-">
									<a href="{% url 'profile-connections' %}"><h6 class="text-light">Linked Accounts</h6></a>
								</div>
								<div class="mt-3 text-">
									<h6 class="text-light">Settings</h6>
								</div>
								<div class="mt-3 text-">
									<a href="{% url 'account_reset_password' %}"><h6 class="text-light">Change Password</h6></a>
								</div>
							{% else %}
								<div class="mt-3 text-">
									<a href="{% url 'profile' view.kwargs.pk %}"><h6 class="text-light">Profile</h6></a>
								</div>
								<div class="mt-3 text-">
									<a href="{% url 'my-rentals' view.kwargs.pk %}"><h6 class="text-light">Rentals</h6></a>
								</div>
							{% endif %}
							<hr/>
						</div>
						<div class="col-12 col-md-8">
							{% block profile_content %}
							{% endblock profile_content %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}