{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block account-content %}


{% endblock account-content %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block profile_content %}
	<div class="mt-3">
		<h1 class="h3 text-light d-inline-block mb-0 align-middle">Profile</h1>
		{% if user.id == object.user.id %}
		<a class="btn btn-sm btn-outline-danger rounded-pill mb-0 ms-3"><i class="fa fa-edit"></i> Edit</a>
		{% endif %}
	</div>
	<hr/>
	<div class="">
		<p class="text-light"><strong>Username:</strong> {{ object.user.username }}</p>
		<p class="text-light"><strong>Name:</strong> {{ object.user.first_name }} {{ object.user.last_name }}</p>
	</div>
{% endblock profile_content %}