{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block account-content %}


{% endblock account-content %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block profile_content %}
	<div class="mt-3">
		<h1 class="h3 text-light d-inline-block mb-0 align-middle">Profile</h1>
		{% if request.user.is_staff or request.user.id == usr.id %}
		<a href="{% url 'profile-update' usr.id %}" class="btn btn-sm btn-outline-danger rounded-pill mb-0 ms-3"><i class="fa fa-edit"></i> Edit</a>
		{% endif %}
	</div>
	<hr/>
	<div class="">
		<div class="d-flex justify-content-between">
			<p class="d-inline-block text-light"><strong>Username:</strong></p>
			<p class="d-inline-block">{{ usr.username }}</p>
		</div>
		<div class="d-flex justify-content-between">
			<p class="d-inline-block text-light"><strong>Name:</strong></p>
			<p class="d-inline-block">{{ usr.first_name }} {{ usr.last_name }}</p>
		</div>
		<div class="d-flex justify-content-between">
			<p class="d-inline-block text-light"><strong>D.O.B:</strong></p>
			<p class="d-inline-block">{{ usr.profile.dob }}</p>
		</div>
		<div class="d-flex justify-content-between">
			<p class="d-inline-block text-light"><strong>Date Joined:</strong></p>
			<p class="d-inline-block">{{ usr.date_joined }}</p>
		</div>
	</div>
{% endblock profile_content %}