{% extends 'account/base.html' %}
{% load static %}

{% block account-content %}


{% endblock account-content %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="page-header min-vh-100 bg-dark">
		<div class="container py-8">
			<div class="row justify-content-center">
				<div class="col-12 col-md-9">
					<div class="row">
						<div class="col-12 col-md-4 pe-0">
							<div class="px-4">
								<div class="d-block w-100">
									<div class="position-relative square">
										{% if user.profile.avatar_url %}<img class="avatar-circle position-absolute top-0 shadow-lg" alt="Profile Image" src="{{ user.profile.avatar_url }}"/>{% endif %}
									</div>
								</div>
							</div>
							<div class="mt-3 text-center">
								<h1 class="h3 text-light text-break">{{ object.display_name }}</h1>
								{% if user.is_staff %}<p>Staff</p>{% endif %}
							</div>
							<hr/>
							<div class="mt-3 text-">
								<h6 class="text-light">Profile</h6>
							</div>
							<div class="mt-3 text-">
								<h6 class="text-light">My Rentals</h6>
							</div>
							<div class="mt-3 text-">
								<h6 class="text-light">Linked Accounts</h6>
							</div>
							<div class="mt-3 text-">
								<h6 class="text-light">Settings</h6>
							</div>
							<div class="mt-3 text-">
								<h6 class="text-light">Change Password</h6>
							</div>
							<hr/>
						</div>
						<div class="col-12 col-md-8">
							{% block profile_content %}
							{% endblock profile_content %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}