{% if blogs|length <= 0 %}
    <div class="span3 text-center">
        <h1><i class="fa fa-3x fa-sad-cry"></i></h1>
        <p>No posts matching your search</p>
    </div>
{% else %}
		<div class="row">
		{% for blog in page_obj %}
			{% if not forloop.counter == 3 %}
			<div class="col-12 col-lg-6">
			{% endif %}
				<div class="row py-3">
					<div class="{% if forloop.first %} col-12 {% else %} col-12 col-lg-6 {% endif %}">
						<a class="text-muted" href="{% url 'blog-detail' blog.slug %}">
							<div class="responsive-img-container {% if forloop.first %} img-16-9 {% else %} img-4-3 {% endif %}">
								<img class="responsive-img fit-cover" src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% endif %}"/>
							</div>
						</a>
					</div>
					
					<div class="col-12 {% if not forloop.first %} col-lg-6 {% endif %}">
						<a class="text-muted" href="{% url 'blog-detail' blog.slug %}">
							<small class="text-danger">
								{{ blog.author_name }}
								{% if blog.published %}
								| <small> {{ blog.published_on|date:"M. j, Y" }} <!--<i class="fa fa-book-reader"></i> {{ blog.read_time }} min.--></small>
								{% else %}
									<small>Draft. <i class="fa fa-pencil-ruler"></i></small>
								{% endif %}
							</small>
							<h2>{{ blog.title }}</h2>
							<p class="m-0">{{ blog.description }}</p>
						</a>

						{% if user.is_staff or user == blog.author or perms.blogs.change_blog or perms.blogs.delete_blog %}
						<div class="">
							{% if user.is_staff or user == blog.author or perms.blogs.change_blog %}
								<a href="{% url 'blog-update' blog.slug %}" class="link-primary m-0 px-1"><small><i class="fa fa-edit"></i> Edit</small></a>
							{% endif %}
							{% if perms.blogs.delete_blog %}
								<a href="{% url 'blog-delete' blog.slug %}" class="link-danger m-0 px-1"><small><i class="fa fa-trash"></i> Delete</small></a>
							{% endif %}
						</div>
						{% endif %}

						{% for tag in blog.tags.all %}
							<div class="badge badge-danger mt-2"><small class="text-normal">{{ tag.name }}</small></div>
						{% endfor %}
					</div>
				</div>
			{% if not forloop.counter == 2 or forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
    	</div>

    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="page-toggle" href="?page=1" data-page="1">&laquo; first</a>
                <a class="page-toggle" href="?page={{ page_obj.previous_page_number }}" data-page="{{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-toggle" data-page="{{ page_obj.next_page_number }}">next</a>
                <a class="page-toggle" data-page="{{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}