{% extends "core/base.html" %}
{% load static %}

{% block head_title %}Blogs{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}

{% block nav %}
	{% include 'core/nav.html' with nav_dark=True %}
{% endblock nav %}

{% block content %}
<div class="container">
	<div class="section">
		<div class="row min-vh-50 pt-8">
			<div class="col-12 col-md-10 m-auto text-center">
				<h1 class="text-light text-dark">Blogs</h1>
				<h4 class="text-light text-dark">
					Get inspired with road trip ideas, help prepare yourself for your very own rental or just keep up to date with new builds and news from the big dogs!
				</h4>
				<div class="row">
					<div class="col-11 col-md-7 m-auto d-flex justify-content-around align-items-center flex-wrap">
						<div class="input-group mb-3">
							<input name=search type="text" class="form-control" placeholder="Search" aria-label="Search Blogs" aria-describedby="search">
							<button class="btn btn-outline-secondary mb-0" type="button" id="search"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<div class="col-11 col-md-6 m-auto d-flex justify-content-around align-items-center flex-wrap tag-list" id="tag-list">
						{% for tag in tags %}
							<div id="tag-{{ tag.slug }}" class="mx-2" data-identifier="{{ tag.slug }}"><p class="m-0 p-0"><h6 class="btn btn-rounded btn-outline btn-danger btn-sm text-normal my-1 py-2 px-4">{{ tag.name }}</small></h6></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="blog-card-list">
		{% include 'blogs/blog_card_list.html' %}
    </div>
</div>

<script type="text/javascript">
 LOAD = {
    request : null,
    loadToElement: async function(element, url){
        let loader = document.createElement("div");
        loader.classList.add("loader");
        element.append(loader);
        element.classList.add('loading');
        
        var response = null;
        try{
            response = await this._load(url, 'text/html');
            LOAD.updateContent(response, element);
        }catch{
            LOAD.showError(response, element);
        }
        element.classList.remove('loading');
    },
    loadJson: async function(url){
        return json.parse(await this._load(url, 'application/json', false));
    },
    _load(url, contentType, data=false){
        return new Promise((resolve, reject) => {
            //Ajax function to get files
            const xhr = new XMLHttpRequest();
            
            if (data){
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                xhr.send(data); 
            }else{
                xhr.open('GET', url, true);
                xhr.setRequestHeader('Content-Type', contentType);
                xhr.send(null); 
            };

            xhr.onload = function(){
                if(xhr.status == 200){
                    if (contentType = 'application/JSON'){
                        resolve(xhr.responseText);
                    }else{
                        resolve(xhr.response);
                    }
                }else{
                    reject(xhr);
                }
            }
        });
    },
    showError: function(xhr, element=false){
        if(element){
            if (xhr.status == 200 ){
                element.innerHTML = xhr.response;
            }else{
                element.innerHTML = '<div class="form-alert form-error"> Error ' + xhr.status + ': ' + xhr.statusText + '</div>';
            }
        }else{
            console.log('Error ' + xhr.status + ': ' + xhr.statusText);
        }
    },
    updateContent: function(response, element){
        element.innerHTML = response;
    }
};


BLOGLIST = {
    searchQuery: "",
    searchSelector: "",
    tagListSelector: "",
    windowSelector: "",

    //Set Listeners for filter inputs
    //Runs render on tags/ search input
    init: function(searchSelector, tagListSelector, windowSelector){
        this.searchSelector = searchSelector;
        this.tagListSelector = tagListSelector;
        this.windowSelector = windowSelector;

		this.update();

        document.querySelector(searchSelector).addEventListener("keyup", BLOGLIST.searchDelay(function(e){BLOGLIST.search(e)}, 500));
        document.querySelectorAll(tagListSelector).forEach(item => {
			item.childNodes.forEach(listItem => {
				listItem.addEventListener("click", BLOGLIST.updateTags);
			});
        });
        BLOGLIST.setPageListeners();
    },
    update: function(){
        this.getQuery();
        this.load();
        this.renderSearchInput();
        this.renderTags();
    },
    //Populates existing filter params from GET request
    getQuery: function(){
        params = new URLSearchParams(window.location.search);
        // If GET contains params populate search query else set to defaults
        if(Array.from(params).length >= 1 ){
            tags = []
            if(params.get('tags')){
                params.get('tags').split(',').forEach(tag =>{
                    if(tag.length >= 1){
                        tags.push(tag);
                    }
                });
            }
            this.searchQuery = {"search":(params.get('search') || ""), "tags": tags, "page": (params.get('page')|| 1)};
        }else{
            this.searchQuery = {"search":"", "tags": [], "page": 1}
        }
    },
    //Updates search string in searchQuery, loads updated content
    search: function(e){
        BLOGLIST.searchQuery.search = e.target.value;
        BLOGLIST.searchQuery.page = 1;
        BLOGLIST.load(true);
    },
    //Change page number
    togglePage: function(e){
        e.preventDefault();
        BLOGLIST.searchQuery.page = e.target.dataset.page;
        BLOGLIST.load(true);
        e.stopPropagation();
    },
    //Update the value of search input box
    renderSearchInput: function(){
        document.querySelector(BLOGLIST.searchSelector).value = BLOGLIST.searchQuery.search;
    },
    searchDelay: function(callback, ms){
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    },
    updateTags: function(e){
        //If clicked tag is not in list, add it and add its css flag. else deactivate it
        if(! BLOGLIST.searchQuery.tags.includes(e.currentTarget.dataset.identifier)){
            BLOGLIST.searchQuery.tags.push(e.currentTarget.dataset.identifier);
        }else{
            BLOGLIST.searchQuery.tags = BLOGLIST.searchQuery.tags.filter(function(f){ return f !== e.currentTarget.dataset.identifier});
        }
        BLOGLIST.searchQuery.page = 1;
        BLOGLIST.renderTags();
        BLOGLIST.load(true);
    },
    renderTags: function(){
        //If there is active tags add active flag to ul element
        if(BLOGLIST.searchQuery.tags.length >= 1){
            document.querySelectorAll(BLOGLIST.tagListSelector).forEach(item => {
                item.classList.add('tag-list-active');
            });
        }else{
            document.querySelectorAll(BLOGLIST.tagListSelector).forEach(item => {
                item.classList.remove('tag-list-active');
            });
        }
        document.querySelectorAll(BLOGLIST.tagListSelector + "> *").forEach(item => {
			if(BLOGLIST.searchQuery.tags.includes(item.dataset.identifier)){
				item.classList.add("active");
			}else{
				item.classList.remove("active");
			}
        });
    },
    load: async function(pushState=null){
        var load = LOAD;
        var args = Object.keys(BLOGLIST.searchQuery).map(function(key) {
            return key + '=' + encodeURIComponent(BLOGLIST.searchQuery[key]);
          }).join('&');
        if(pushState){
            history.pushState(null, "", "?" + args)
        }
        var url = window.location.protocol + "//" + window.location.host + "/blogs/?" + args
        var element = document.querySelector(BLOGLIST.windowSelector);
        await load.loadToElement(element, url, 'text/html');
        BLOGLIST.setPageListeners();
    },
    setPageListeners: function(){
        document.querySelectorAll('.page-toggle').forEach(item => {
            item.addEventListener("click", BLOGLIST.togglePage);
        });
    },
}

var blogList = function(
    searchSelector,
    tagListSelector,
    windowSelector
){
    var obj = BLOGLIST;
    obj.init(searchSelector, tagListSelector, windowSelector);

    window.onpopstate = function(e){
        obj.update();
    };
};






	window.addEventListener("DOMContentLoaded", function(){
		blogList("input[name='search']","#tag-list","#blog-card-list");
	});
</script>
{% endblock content %}