{% extends "core/base.html" %}
{% load static %}

{% block head_title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="container-fluid p-0">
	<div class="section-dark pt-8">
		<div class="container">
			<div class="row h-100">
				<div class="col py-5">
					<h1 class="title text-white text-light mt-1">{{ blog.title }}</h1>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="container-fluid p-0 position-relative">
	<div class="section-dark position-absolute h-50 w-100 start-0 top-0">

	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 position-relative">
				<div class="responsive-img-container img-16-9">
					<img class="responsive-img fit-cover" src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% endif %}"/>
				</div>
			</div>
			<div class="col-12 col-md-6 position-relative">
				<div class="row h-50 pb-4 d-none d-md-block">
					<div class="col-12 h-100 text-white">
						<div class="h-100 d-flex flex-column justify-content-between">
							<div class="d-flex">
								<div style="width:2em;">
									<div class="responsive-img-container img-1-1">
										{% if blog.author.profile.avatar_url %}<img class="responsive-img fit-cover rounded-circle" src="{{ blog.author.profile.avatar_url }}"/>{% endif %}
									</div>
								</div>
								<h5 class="text-white m-0 p-0 ps-2">{{ blog.author_name }}</h5>
							</div>
							<small class="text-light text-normal p-0 m-0">{{ blog.published_on }}</small>
							<small class="text-light text-normal p-0 m-0"><i class="fa fa-eye"></i> {{ blog.views }} Views</small>
							<small class="text-light text-normal p-0 m-0"><i class="fa fa-book-reader"></i> {{ blog.read_time }} Min.</small>
							{% if user.is_staff or user == blog.author or perms.blogs.change_blog or perms.blogs.delete_blog %}
							<div class="">
								{% if user.is_staff or user == blog.author or perms.blogs.change_blog %}
									<a href="{% url 'blog-update' blog.slug %}" class="btn btn-rounded btn-outline-primary m-0 btn-sm me-3"><i class="fa fa-edit"></i> Edit</a>
								{% endif %}
								{% if perms.blogs.delete_blog %}
									<a href="{% url 'blog-delete' blog.slug %}" class="btn btn-rounded btn-outline-danger m-0 btn-sm"><i class="fa fa-trash"></i> Delete</a>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row pb-4 d-block d-md-none">
					<div class="col-12">
						<div class="h-100 d-flex flex-column justify-content-between">
							<div class="align-self-center" style="width:3em;">
								<div class="responsive-img-container img-1-1">
									{% if blog.author.profile.avatar_url %}<img class="responsive-img fit-cover rounded-circle" src="{{ blog.author.profile.avatar_url }}"/>{% endif %}
								</div>
							</div>
							<h5 class="text-center text-normal m-0 p-0 ps-2">{{ blog.author_name }}</h5>
							<small class="text-center fw-light p-0 m-0">{{ blog.published_on }}</small>
							<div class="d-flex justify-content-around">
								<small class="text-center fw-light p-0 m-0"><i class="fa fa-eye"></i> {{ blog.views }} Views</small>
								<small class="text-center fw-light p-0 m-0"><i class="fa fa-book-reader"></i> {{ blog.read_time }} Min.</small>
							</div>
						</div>
					</div>
				</div>
				<div class="row h-50 pt-4">
					<div class="col-12">
						<p>{{ blog.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<hr class="horizontal dark d-block d-md-none"/>
</div>

<div class="container pt-4">
	<div class="row">
		<div class="col-12 col-lg-10 m-auto">
			{{ blog.content }}
		</div>
	</div>
</div>
{% endblock content %}


<div class="container">
	<div class="row justify-content-center">
		<div class="col d-flex justify-content-center">
			<div class="">
				{{ blog.content }}
			</div>
		</div>
	</div>
</div>




<div class="container-fluid p-0 pb-8 min-vh-50 position-relative">
	<div class="w-100 h-100 pt-8 section-dark">
		<div class="container">
			<div class="row h-100">
				<div class="col py-5">
					<h1 class="title text-white text-light mt-1">{{ blog.title }}</h1>
				</div>
			</div>
			
		</div>
		<div class="position-absolute bottom-0 end-0 w-100">
			<div class="position-relative col-5">
				<div class="responsive-img-container img-16-9">
					<img class="responsive-img fit-cover" src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% endif %}"/>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col d-flex justify-content-center">
			<div class="">
				{{ blog.content }}
			</div>
		</div>
	</div>
</div>












<div class="container-fluid p-0 pt-8 section-dark">
	<div class="container min-vh-50">
		<div class="row">
			<div class="col py-5">
				<h1 class="title text-white text-light mt-1 text-center">{{ blog.title }}</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col d-flex justify-content-center">
			<div class="">

			</div>
		</div>
	</div>
</div>


<div class="container min-vh-50">
	<div class="d-flex align-items-center">
		<div class="row">
			<div class="col py-5">
				<h1 class="title text-white text-light mt-1">{{ blog.title }}</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6 col-md-3 py-3">
			<div class="responsive-img-container img-16-9">		
			</div>
		</div>
	</div>
	
	<div class="row position-relative">
		<div class="col-12 position-absolute top-100 translate-middle-y">
			<div class="row">
				<div class="col-12 col-md-5">
					<div class="responsive-img-container img-16-9">
						<img class="responsive-img fit-cover" src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% endif %}"/>
					</div>
				</div>
				<div class="col-12 col-md-7 d-none d-md-block">
					<div class="h-50 py-1 d-flex flex-column justify-content-end">
						<div class="d-flex">
							<div style="width:2em;">
								<div class="responsive-img-container img-1-1">
									{% if blog.author.profile.avatar_url %}<img class="responsive-img fit-cover rounded-circle" src="{{ blog.author.profile.avatar_url }}"/>{% endif %}
								</div>
							</div>
							<h5 class="text-white m-0 p-0 ps-2">{{ blog.author_name }}</h5>
						</div>
						<small class="text-light text-normal p-0 m-0">{{ blog.published_on }}</small>
						<small class="text-light text-normal p-0 m-0"><i class="fa fa-eye"></i> {{ blog.views }} Views</small>
						<small class="text-light text-normal p-0 m-0"><i class="fa fa-book-reader"></i> {{ blog.read_time }} Min.</small>
					</div>
					<div class="h-50 py-1">
						<p>{{ blog.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>