{% extends 'core/base.html' %}

{% block head_title %}500{% endblock %}

{% block content %}
<div class="d-flex min-vh-100 page-header" style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
	<div class="filter"></div>
	<div class="container over-filter">
		<div class="row text-center">
			<h1 class="fs-xxl text-light mb-0">500</h1>
			<p class="text-white">We're sorry, but something went wrong. We are working an fixing this. <br /> Please refresh the page in a couple of seconds.</p>
		</div>
		<div class="row mt-6">
			<div class="col-12 text-center py-2">
				<h5 class="text-white">Meanwhie, you can check our social pages...</h5>
			</div>
			<div class="col-12 d-flex justify-content-center">
				<a class="text-light px-2" href="https://www.facebook.com/CreativeTim" target="_blank"><i class="icon-150" data-feather="facebook"></i></a>
				<a class="text-light px-2" href="https://www.instagram.com/bigdogcampervans/" target="_blank"><i class="icon-150" data-feather="instagram"></i></a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}