{% load static %}

<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-5 w-100 shadow-none my-3 navbar-transparent{% if nav_dark %}-dark{% endif %}">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home' %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
			Big Dog Campervans
		</a>
		<button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon mt-2">
			<span class="navbar-toggler-bar bar1"></span>
			<span class="navbar-toggler-bar bar2"></span>
			<span class="navbar-toggler-bar bar3"></span>
			</span>
		</button>
		
		<div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-3 ps-lg-5" id="navigation">
			<ul class="navbar-nav navbar-nav-hover justify-content-end align-items-lg-center w-100">
				<li class="nav-item dropdown dropdown-hover mx-2">
					<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
						Vans
						<svg height="7" viewBox="0 0 10 7" width="10" xmlns="http://www.w3.org/2000/svg" alt="down-arrow" class="arrow primary-arrow ms-1 d-lg-block d-none"><path d="m7.91769231.99461539-3.30230769 3.30230769-3.3023077-3.30230769c-.30182991-.29151709-.78160367-.28734798-1.07832198.00937032-.2967183.29671831-.30088741.77649207-.00937032 1.07832198l3.84615384 3.84615385c.3003845.3002938.78730781.3002938 1.08769231 0l3.84615385-3.84615385c.1999666-.19313421.28016353-.47913684.20976704-.74808255-.07039649-.26894572-.28043108-.47898031-.5493768-.5493768-.26894571-.07039649-.55494834.00980044-.74808255.20976705z"/></svg>
						<img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
					</a>
					<div class="dropdown-menu dropdown-menu-animation dropdown-md dropdown-menu-end dropdown-menu-md-start p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
						<div class="">
							<a href="{% url 'van-list' %}" class="dropdown-item border-radius-md">
								<strong class="text-dark">All Vans</strong>
							</a>
							{% for van in vans %}
								<a href="{% url 'van-detail' van.slug %}" class="dropdown-item border-radius-md text-dark">
									{{ van.name|capfirst }}
								</a>
							{% endfor %}
							<a href="{% url 'blog-list' %}?tags=build" class="dropdown-item border-radius-md text-dark">
								Coming soon...
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown dropdown-hover mx-2">
					<a href="{% url 'blog-list' %}?tags=inspiration" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
						Inspiration
					</a>
				</li>

				<li class="nav-item dropdown dropdown-hover mx-2">
					<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
						Information for renters
						<svg height="7" viewBox="0 0 10 7" width="10" xmlns="http://www.w3.org/2000/svg" alt="down-arrow" class="arrow primary-arrow ms-1 d-lg-block d-none"><path d="m7.91769231.99461539-3.30230769 3.30230769-3.3023077-3.30230769c-.30182991-.29151709-.78160367-.28734798-1.07832198.00937032-.2967183.29671831-.30088741.77649207-.00937032 1.07832198l3.84615384 3.84615385c.3003845.3002938.78730781.3002938 1.08769231 0l3.84615385-3.84615385c.1999666-.19313421.28016353-.47913684.20976704-.74808255-.07039649-.26894572-.28043108-.47898031-.5493768-.5493768-.26894571-.07039649-.55494834.00980044-.74808255.20976705z"/></svg>
						<img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
					</a>
					<ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-menu-end dropdown-menu-md-start mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
						<div class="d-lg-block">
							<li class="nav-item">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'pre-trip-checklist' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 fa fa-list-check text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Pre-trip Checklist</h6>
											<span class="text-sm text-wrap">We're here to make sure your trip goes off without a hitch.</span>
										</div>
									</div>
								</a>
							</li>
							<!--
							<li class="nav-item ">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'faqs' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 fa fa-info text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">On the road tips</h6>
											<span class="text-sm text-wrap">Looking after your campervan & making the most of your trip</span>
										</div>
									</div>
								</a>
							</li>
							-->
						</div>
					</ul>
				</li>

				<li class="nav-item dropdown dropdown-hover mx-2">
					<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
						Before you book
						<svg height="7" viewBox="0 0 10 7" width="10" xmlns="http://www.w3.org/2000/svg" alt="down-arrow" class="arrow primary-arrow ms-1 d-lg-block d-none"><path d="m7.91769231.99461539-3.30230769 3.30230769-3.3023077-3.30230769c-.30182991-.29151709-.78160367-.28734798-1.07832198.00937032-.2967183.29671831-.30088741.77649207-.00937032 1.07832198l3.84615384 3.84615385c.3003845.3002938.78730781.3002938 1.08769231 0l3.84615385-3.84615385c.1999666-.19313421.28016353-.47913684.20976704-.74808255-.07039649-.26894572-.28043108-.47898031-.5493768-.5493768-.26894571-.07039649-.55494834.00980044-.74808255.20976705z"/></svg>
						<img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
					</a>
					<ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-menu-end dropdown-menu-md-start mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
						<div class="d-lg-block">
							<li class="nav-item">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'pre-booking-info' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 fa fa-list-check text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Pre-Booking Information</h6>
											<span class="text-sm text-wrap">General rules and requirements for booking.</span>
										</div>
									</div>
								</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'pricing' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 bi-currency-dollar text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Pricing</h6>
											<span class="text-sm text-wrap">Get an insight into our pricing model.</span>
										</div>
									</div>
								</a>
							</li><!--
							<li class="nav-item">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'faqs' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 bi-card-checklist text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Rules</h6>
											<span class="text-sm text-wrap">Like anything fun, we have a few rules to make sure everyone is safe.</span>
										</div>
									</div>
								</a>
							</li>-->
							<li class="nav-item ">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'faqs' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 bi-question-circle text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">FAQ's</h6>
											<span class="text-sm text-wrap">See frequently asked questions or ask one of your own!</span>
										</div>
									</div>
								</a>
							</li>
							<li class="nav-item ">
								<a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'testimonials' %}">
									<div class="d-flex">
										<i class="icon icon-125 me-3 d-flex mt-1 bi-chat-left-quote text-black-50"></i>
										<div>
											<h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Testimonials</h6>
											<span class="text-sm text-wrap">See what our renters are saying about us!</span>
										</div>
									</div>
								</a>
							</li>
						</div>
					</ul>
				</li>				

				{% if user.is_authenticated %}
					<li class="d-flex justify-content-around">
						<a class="nav-link nav-link d-flex align-items-center" href="https://www.facebook.com/bigdogcampervans" target="_blank"><i class="icon-125" data-feather="facebook"></i></a>
						<a class="nav-link nav-link d-flex align-items-center" href="https://www.instagram.com/bigdogcampervans/" target="_blank"><i class="icon-125" data-feather="instagram"></i></a>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<div class="d-lg-none px-3">
							<hr class="my-2">
						</div>
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
							<div>
								{% if user.profile.avatar_url %}
									<img class="avatar-sm rounded-circle" alt="Profile Image" src="{{ user.profile.avatar_url }}">
								{% else %}
									<span class="{% if nav_dark %}text-secondary{% endif %} badge rounded-pill bg-transparent border border-light">{{ user.profile.initial }}</span>
								{% endif %}
								<span class="ps-2 d-lg-none text-black-50">{{ user.profile.display_name }}</span>
							</div>
													<svg height="7" viewBox="0 0 10 7" width="10" xmlns="http://www.w3.org/2000/svg" alt="down-arrow" class="arrow primary-arrow ms-1 d-lg-block d-none"><path d="m7.91769231.99461539-3.30230769 3.30230769-3.3023077-3.30230769c-.30182991-.29151709-.78160367-.28734798-1.07832198.00937032-.2967183.29671831-.30088741.77649207-.00937032 1.07832198l3.84615384 3.84615385c.3003845.3002938.78730781.3002938 1.08769231 0l3.84615385-3.84615385c.1999666-.19313421.28016353-.47913684.20976704-.74808255-.07039649-.26894572-.28043108-.47898031-.5493768-.5493768-.26894571-.07039649-.55494834.00980044-.74808255.20976705z"/></svg>
							<img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
						</a>

						<div class="dropdown-menu dropdown-menu-end dropdown-menu-md-start dropdown-menu-animation border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="dropdownMenuAccount">
							
							<div class="row d-none d-lg-flex">
								<div class="col p-0 d-flex justify-content-center flex-column">
									<ul class="list-group">
										<li class="list-group-item text-end border-0 p-0 pe-3 d-block">
											<span class="text-end ps-3">{{ user.profile.display_name }}</span>
										</li>
										<li class="px-3 d-block">
											<hr class="my-2">
										</li>
										{% if user.is_staff %}
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'dashboard' %}">
												<span>Dashboard</span>
											</a>
										</li>
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'admin:index' %}">
												<span>Admin</span>
											</a>
										</li>
										{% endif %}
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'my-rentals' %}">
												<span>My Rentals</span>
											</a>
										</li>
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'profile' %}">
												<span>Profile</span>
											</a>
										</li>
										<!--
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="#">
												<span>Settings</span>
											</a>
										</li>-->
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'account_reset_password' %}">
												<span>Change Password</span>
											</a>
										</li>
										<li class="nav-item text-end list-group-item border-0 p-0 my-1">
											<a class="border-radius-md pe-3 d-block" href="{% url 'account_logout' %}">
												<span>Sign Out</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- MOBILE SUB MENU -->
							<div class="row d-lg-none mt-1">
								<div class="col-12 d-flex justify-content-center flex-column">
									{% if user.is_staff %}
									<a href="{% url 'admin:index' %}" class="dropdown-item p-2 ps-0 border-bottom">
										Admin
									</a>
									{% endif %}
									<a href="{% url 'my-rentals' %}" class="dropdown-item p-2 ps-0 border-bottom">
										My Rentals
									</a>
									<a href="{% url 'profile' %}" class="dropdown-item p-2 ps-0 border-bottom">
										Profile
									</a>
									<!--
									<a href="#" class="dropdown-item p-2 ps-0 border-bottom">
										Settings
									</a>-->
									<a href="{% url 'account_reset_password' %}" class="dropdown-item p-2 ps-0 border-bottom">
										Change Password
									</a>
									<a href="{% url 'account_logout' %}" class="dropdown-item p-2 ps-0">
										Sign Out
									</a>
								</div>
							</div>
							<!-- END MOBILE SUB MENU -->
						</div>
					</li>
				{% else %}
					<li class="nav-item mx-2 d-flex justify-content-around">
						<a class="nav-link nav-link" href="https://www.facebook.com/bigdogcampervans" target="_blank"><i class="icon-125" data-feather="facebook"></i></a>
						<a class="nav-link nav-link" href="https://www.instagram.com/bigdogcampervans/" target="_blank"><i class="icon-125" data-feather="instagram"></i></a>
						<a href="{% url 'account_login' %}" class="d-flex align-items-center justify-content-center btn btn-sm btn-danger btn-round mb-0 ms-2" onclick="smoothToPricing('pricing-soft-ui')"><i class="feather-150 me-1" data-feather="user"></i> Login</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- End Navbar -->