{% extends 'core/base.html' %}

{% block head_title %}Testimonials{% endblock %}

{% block content %}
<div class="">
	<div class="d-flex justify-content-center page-header min-vh-100 relative" style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
		<div class="filter"></div>
		<div class="container over-filter py-8">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center">
					<h1 class="title text-white text-light">Testimonials</h1>
					<h5 class="description text-white text-light">See what our renters are saying about us.</h5>
					<br/>
				</div>
				<div class="col-md-11">
					<div class="row py-4">
						<div class="col-md-4 px-4 pt-4">
							<div class="card card-testimonial text-center">
								<div class="pt-4 pb-5">
									<h4><i class="fa fa-quote-right" aria-hidden="true"></i></h4>
								</div>
								<div class="card-body">
									<p class="text-light text-dark px-3">
									Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
									</p>
									<div class="card-footer">
									<h4 class="card-title">Alec Thompson</h4>
									<h6 class="card-category">@alecthompson</h6>
									<div class="card-avatar">
										<a href="javascript:;">
										<img class="img" src="./assets/img/faces/ayo-ogunseinde-2.jpg" />
										</a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 px-4 pt-4">
							<div class="card card-testimonial text-center">
								<div class="pt-4 pb-5">
									<h4><i class="fa fa-quote-right" aria-hidden="true"></i></h4>
								</div>
								<div class="card-body">
									<p class="text-light text-dark px-3">
									"Don't be scared of the truth because we need to restart the human foundation in truth. That's why I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is not so attractive"
									</p>
									<div class="card-footer">
										<h4 class="card-title">Gina Andrew</h4>
										<h6 class="card-category">@ginaandrew</h6>
										<div class="card-avatar">
											<a href="javascript:;">
											<img class="img" src="./assets/img/faces/joe-gardner-2.jpg" />
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 px-4 pt-4">
							<div class="card card-testimonial text-center">
								<div class="pt-4 pb-5">
									<h4><i class="fa fa-quote-right" aria-hidden="true"></i></h4>
								</div>
								<div class="card-body">
									<p class="text-light text-dark px-3">
									"Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!"
									</p>
									<div class="card-footer">
										<h4 class="card-title">Joe West</h4>
										<h6 class="card-category">@georgewest</h6>
										<div class="card-avatar">
											<a href="javascript:;">
											<img class="img" src="./assets/img/faces/kaci-baum-2.jpg" />
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}