{% extends 'rentals/base_rental_flow.html' %}
{% load crispy_forms_tags %}
{% load price_tags %}

{% block step_number %}1{% endblock step_number %}

{% block title %}
Before you continue
{% endblock title %}

{% block subheading %}
Please read and accept our pre-booking information.
{% endblock subheading %}

{% block rental_flow_content %}
<div class="row">
	<div class="col-10 m-auto text-center my-6">
		NOTE: Completing a booking does not necessarily confirm your rental. You will recieve an email to pay a deposit once your booking has been confirmed by one of our team.
	</div>


	<div class="col-12 col-md-10 m-auto mt-6">
		<h3 class="">For insurance purposes, drivers must be</h3>
		<hr>
		<ul class="ul-col-1 ul-col-md-2 ul-col-lg-3">
			<li>
				Aged between 21 & 75
			</li>
			<li>
				Have no more than 6 points on their licence
			</li>
			<li>
				Have at least 2 years' driving experience
			</li>
			<li>
				Be able to provide proof of address (2 seperate documents within 3 months)
			</li>
			<li>
				Confidence driving large vehicles & manual transmissions if required
			</li>
			<li>
				A respectful and careful driver
			</li>
		</ul>
	</div>

	<div class="col-12 col-md-10 m-auto mt-6">
		<h3 class="">Required documents</h3>
		<hr>
		<p class=""><small>Proof of address documents must be dated within 3 months of the rental date</small></p>
		
		<ul>
			<li>
				<strong>Licence Photo (Front & Back)</strong>
			</li>
			<li>
				<strong>DVLA Licence check code</strong>
				<ul>
					<li>
						<small>This is required to verify the points on your licence. Follow the steps to obtain a check code <a href="https://www.gov.uk/view-driving-licence" target="_blank"><u class="text-danger">HERE</u></a></small>
					</li>
				</ul>
			</li>
			<li>
				<strong>Primary Proof of address (Min. one from this list)</strong>
				<ul class="ul-col-1 ul-col-md-2 ul-col-lg-3">
					<li>
						<small>Electricity Bill</small>
					</li>
					<li>
						<small>Water Bill</small>
					</li>
					<li>
						<small>Gas Bill</small>
					</li>
					<li>
						<small>Broadband/Landline Bill</small>
					</li>
					<li>
						<small>Council tax Bill</small>
					</li>
					<li>
						<small>TV Licence</small>
					</li>
					<li>
						<small>Bank Statement</small>
					</li>
					<li>
						<small>Credit Card Bill/ Statement</small>
					</li>
					<li>
						<small>Mortgage Statement</small>
					</li>
					<li>
						<small>Polling Card</small>
					</li>
					<li>
						<small>HMRC self-assesment/ tax-credit</small>
					</li>
				</ul>
			</li>
			<li>
				<strong>Secondary proof of address</strong>
				<ul class="ul-col-1 ul-col-md-2 ul-col-lg-3">
					<li>
						<small>Student loan</small>
					</li>
					<li>
						<small>Shotgun Licence</small>
					</li>
					<li>
						<small>Payslip</small>
					</li>
					<li>
						<small>Mobile Phone Bill</small>
					</li>
					<li>
						<small>Mobile Phone Bill</small>
					</li>
					<li>
						<small>Pension Letters</small>
					</li>
					<li>
						<small>Car Finance Statement</small>
					</li>
					<li>
						<small>Loan Statement</small>
					</li>
					<li>
						<small>Property Deed</small>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="col-12 col-md-10 m-auto mt-6">
		<h3 class="">Included Mileage</h3>
		<hr>
		<p class="">
			<small>
				Included mileage is capped at 120 miles per day, for the duration of the rental. (eg. 1 week rental = 840miles)
			</small>
			</br>
			<small>
				Any mileage overages will be charged at {{ .5|price }} per mile and will be deducted from your deposit.
			</small>
		</p>
	</div>

	<div class="col-12 col-md-10 m-auto mt-6">
		<h3 class="text-">Cancellation Policy</h3>
		<hr>
		<p class="text-enter">
			<small>If you are unable to complete your trip with us, your deposit will be returned in full if you cancel more than 28 days before the start of your hire. Cancellation 28 to 14 days before your rental will see 50% of your deposit forfeited. Cancellation within 14 days of your rental will see your deposit forfeited in order to cover our loss in revenue.</small>
		</p>
	</div>

	<div class="col-12 col-md-10 m-auto text-center my-6">
		Your information will not be shared with anyone except our insrance provider.
	</div>
</div>
{% crispy form %}
{% endblock rental_flow_content %}