{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block body_class %}
	bg-gray-100
{% endblock %}

{% block content %}
<div class="container-fluid p-0 position-relative min-vh-100">
	<div class="d-flex justify-content-center page-header min-vh-100 min-vw-100 position-absolute top-0" style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
		<div class="filter"></div>
	</div>
	<div class="container position-relative over-filter h-100">
		<div class="row">
			<!--PAGE CONTENT-->
			<div class="col-12 col-md-8">

				<div class="row align-items-center min-vh-100">
					<div class="col">
						<h1 class="title text-white text-light">{{ van.name }}</h1>
						<h5 class="description text-white text-light">{{ van.description_short }}</h5>
						<br/>
						{% if not rental %}
							{% crispy form %}
						{% endif %}
					</div>				
				</div>

				<div class="row">
					<div class="section py-4">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-4 col-md-2">
									<img class="w-100" src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
								</div>
								<div class="col-4 col-md-2">
									<img class="w-100"  src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
								</div>
								<div class="col-4 col-md-2">
									<img class="w-100" src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
								</div>
								<div class="col-4 col-md-2">
									<img class="w-100"  src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row justify-content-center">
						<div class="col">
							<h2 class="text-light">What makes {{ van.name }} special</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-6 col-lg-4">
							<i class="bi-chevron-right"></i> Feature
						</div>
			
						<div class="col-12 col-md-6 col-lg-4">
							<i class="bi-chevron-right"></i> Feature
						</div>
			
						<div class="col-12 col-md-6 col-lg-4">
							<i class="bi-chevron-right"></i> Feature
						</div>
			
						<div class="col-12 col-md-6 col-lg-4">
							<i class="bi-chevron-right"></i> Feature
						</div>
					</div>
				</div>
			</div>
			<!--END PAGE CONTENT-->


			<!--MOBILE FIXED-BOTTOM-->
			<div class="d-md-none col-12">
				<div class="fixed-bottom">
					<div class="row">
						
					</div>
					<div class="row">
						{% if not booking %}
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h3>Your trip</h3>
									<div class="row">
										<div class="col-8">
											<a class="" data-bs-toggle="collapse" href="#mobile-change-date" role="button" aria-expanded="false" aria-controls="mobile-change-date">
												<p class="m-0 p-0">{{ rental.duration }} rental</p>
												<small class="text-black-50">({{ rental.rental_start|date:"d/m/y" }} - {{ rental.rental_end|date:"d/m/y" }}) <i class="collapse-closed bi bi-pencil-square"></i></small>
											</a>
										</div>
										<div class="col-4 text-end">${{ rental.rental_price }}</div>
									</div>
									<div class="row collapse" id="mobile-change-date">
										<div class="col">
											{% crispy form %}
										</div>
									</div>
									<div class="row py-2">
										<hr>
										<div class="col-6">
											<button type="button" class="btn btn-danger m-0"><i class="icon-125" data-feather="chevrons-right"></i> &nbsp; Book Now</button>
										</div>
										<div class="col-6 text-end">$122.90</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<!--MOBILE FIXED-BOTTOM-->


			<!--SIDEBAR-->
			{% if rental %}
			<div class="d-none d-md-block col-md-4 mt-vh-50">
				<div class="sticky-top translate-middle-y sticky-sidebar pt-3">
					<div class="row">
						{% crispy form %}
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h3>Your trip</h3>
									<div class="row">
										<div class="col-8">
											<p class="m-0 p-0">{{ rental.duration }} rental</p>
											<small class="text-black-50">({{ rental.rental_start }} - {{ rental.rental_end }})</small>
											{% for pa in rental.product.active_sales %}
											<p class="p-0 m-0">
												<small class="text-danger">
													{{ pa.amount_humanize_long }}
												</small>
											</p>
											{% endfor %}
										</div>
										<div class="col-4 text-end">${{ rental.fulfilment_price }}</div>
									</div>
									<div class="row py-2">
										<hr>
										<div class="col text-end">${{ rental.fulfilment_price }}</div>
									</div>
									<div class="row">
										{% if request.user.is_staff %}
										<div class="col-6 d-grid">
											<a href="{% url 'rental-price-detail' object.slug %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" type="button" class="btn btn-danger m-0"><i class="icon-125" data-feather="dollar-sign"></i> &nbsp; See price</a>
										</div>
										<div class="col-6 d-grid">
										{% endif  %}
										<button type="button" class="btn btn-danger m-0"><i class="icon-125" data-feather="chevrons-right"></i> &nbsp; Book Now</button>
										{% if request.user.is_staff %}
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<!--END SIDEBAR-->
		</div>
	</div>
</div>

{% endblock %}


<div class="sticky-top top-50"><div class="position-absolute translate-middle-y">THIST IS STICKY</div></div>
<header class="">
	<div class="d-flex justify-content-center page-header min-vh-100 relative" style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
		<div class="filter"></div>
		<div class="container over-filter">
			<div class="row">
				<div class="col-md-8">
					<h1 class="title text-white text-light">{{ van.name }}</h1>
					<h5 class="description text-white text-light">{{ van.description }}</h5>
					<br/>
				</div>

					<div>
						<div class="card card-raised card-form-horizontal no-transition">
							<div class="card-body">
							<form method="" action="">
								<div class="row">
			
									<div class="col-md-6">
										<div class="form-group mb-md-0">
										<input type="text" value="" placeholder="Date" class="form-control" id="datepcker"/>
										</div>
									</div>
									<div class="d-grid gap-2 col-md-6">
										<button type="button" class="btn btn-danger m-0"><i class="icon-125" data-feather="search"></i> &nbsp; Check Pricing</button>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				{% crispy form %}
				{% if not booking %}
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h3>Your trip</h3>
								<div class="row">
									<div class="col-8">
										<p class="m-0 p-0">4 Day rental</p>
										<small class="text-black-50">(12/08/21 - 16-08-21)</small>
									</div>
									<div class="col-4 text-end">$122.90</div>
								</div>
								<div class="row py-2">
									<hr>
									<div class="col text-end">$122.90</div>
								</div>
								<button type="button" class="btn btn-danger m-0"><i class="icon-125" data-feather="chevrons-right"></i> &nbsp; Book Now</button>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</header>

<div class="container bg-white sticky-top py-3">
		<form method="" action="">
			<div class="row mb-3">
				<div class="col-12">
					<div class="form-group mb-0">
						<input type="text" value="" placeholder="Date" class="form-control text-center" id="datepicker"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="d-grid gap-2 col-12">
					<button type="button" class="btn btn-danger m-0">Check Pricing</button>
				</div>
			</div>
		</form>
</div>

<div class="section section-dark py-4">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 col-md-2">
				<img class="w-100" src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
			</div>
			<div class="col-4 col-md-2">
				<img class="w-100"  src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
			</div>
			<div class="col-4 col-md-2">
				<img class="w-100" src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
			</div>
			<div class="col-4 col-md-2">
				<img class="w-100"  src='https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='>
			</div>
		</div>
	</div>
</div>

<div class="section section-dark py-4">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
				<h2 class="text-light">What makes Rudy {{ van.name }} special</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-4">
				<i class="bi-chevron-right"></i> Feature
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<i class="bi-chevron-right"></i> Feature
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<i class="bi-chevron-right"></i> Feature
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<i class="bi-chevron-right"></i> Feature
			</div>
		</div>
	</div>
</div>