{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block card_content %}
<div class="">
	<div class="text-center mt-4">
		<h1 class="h3">{% trans "Account Connections" %}</h1>
		{% if form.accounts %}
		<p>{% blocktrans %}The following third party accounts are associated with your profile{% endblocktrans %}</p>
		<hr/>
		
		<form method="post" action="{% url 'socialaccount_connections' %}">
			{% csrf_token %}
			
			<fieldset>
				{% if form.non_field_errors %}
					<div class="alert alert-danger" id="errorMsg">{{ form.non_field_errors.as_text }}</div>
				{% endif %}
				
				<ul class="list-group list-group-flush">
					{% for base_account in form.accounts %}
						{% with base_account.get_provider_account as account %}
							<li class="list-group-item d-flex justify-content-center align-items-center">
								<div class="form-check">
									<input class="form-check-input" id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
									<label for="id_account_{{ base_account.id }}">
										<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}:</span>
										{{ account }}
									</label>
								</div>
							</li>
						{% endwith %}
					{% endfor %}
				</ul>
				<div>
					<button class="btn btn-outline-danger btn-rounded py-2 px-4 mx-1" type="submit">{% trans 'Remove' %}</button>
				</div>
			</fieldset>
		</form>
		
		{% else %}
			<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
		{% endif %}
		<hr/>

		<h5 class="text-normal">{% trans 'Add a 3rd Party Account' %}</h5>
		
		<div class="socialaccount_providers d-flex justify-content-center">
			{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
		</div>
		
		{% include "socialaccount/snippets/login_extra.html" %}		
</div>
{% endblock %}
