<table style="margin: 0;padding: 0;width: 100%;border-collapse: collapse; background-color: #F2F2F2;">
	<colgroup>
    	<col width="20%" />        
    	<col width="60%" /> 
    	<col width="20%" />             
	</colgroup>
    <tr>
        <td>
        </td>
        <td style="text-align:center">
			<a rel="nofollow" target="_blank" href="#">
				<img src="http://d2vsjqr9p2w23h.cloudfront.net/email-images/facebook_icon.png" alt="Facebook" />
			</a>
			<a rel="nofollow" target="_blank" href="#">
				<img src="http://d2vsjqr9p2w23h.cloudfront.net/email-images/instagram_icon.png" alt="Instagram /" />
			</a> 
			<a rel="nofollow" target="_blank" href="#">
				<img src="http://d2vsjqr9p2w23h.cloudfront.net/email-images/instagram_icon.png" alt="Instagram /" />
			</a>            
        </td>
        <td>
        </td> 
    </tr>
</table>