// Custom variables are imported independently in app.scss

@import 'utilities.scss';
@import 'dropdown.scss';
@import 'typography.scss';

.filter::after{
	background-color: rgba(0, 0, 0, 0.5);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.over-filter{
	z-index:3;
}


.section-dark{
	background-color: $dark;
}

.pixel{
	width:1px;
	height:1px;
}
.pixel-2{
	width:2px;
	height:2px;
}

.dashed-line{
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='#{$dark}' stroke-width='4' stroke-dasharray='15%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}